<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>Artigos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <h3>Artigos Recentes</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, suscipit dicta. At a voluptate nesciunt repellat sed maiores, quos blanditiis impedit expedita illum, nam esse officiis consequatur? Necessitatibus, dolorum illum.</p>
</ion-content>
