<ion-header>
  <ion-toolbar>
    <ion-title>Erro404</ion-title>
    <ion-img slot="end" class="toplogo" src="assets/logo_01.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <H1>Essa página nao existe, mas nao se abale, pegue um pouco de Cемечки e volte a página inicial</H1>
  <ion-img src="assets/erro.png"></ion-img>
  <p><ion-button expand="block" routerLink="/articles" >
    <ion-icon name="home-outline" slot="start"></ion-icon>
    Voltar
  </ion-button></p>
</ion-content>
